{% extends 'template.twig' %}
{% block title %}Advertisement deleted successfully{% endblock %}
{% block content %}

    <div class="row">
        <div class="col s8 offset-s2" role="alert">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <p>Advertisement has been deleted successfully.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}